<!-- Modals -->
<div class="modal fade" id="agregarEditar" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-color-u">
                <h3 *ngIf="!esEdicion" class="modal-title">Agregar curso</h3>
                <h3 *ngIf="esEdicion" class="modal-title">Editar curso</h3>
            </div>
            <div class="modal-body">
                <form #f="ngForm">
                    <div class="col px-4">
                        <div class="row my-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" name="idCurso" id="idCurso" placeholder="Cod. Asignatura"
                                        class="form-control" [(ngModel)]="curso.idCurso">
                                    <label for="idCurso" class="form-label">Cod. Asignatura</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" name="idDocente" id="idDocente" placeholder="Docente"
                                        class="form-control" [(ngModel)]="curso.idDocente">
                                    <label for="idDocente" class="form-label">Docente</label>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" name="asignatura" id="asignatura" placeholder="Asignatura"
                                        class="form-control" [(ngModel)]="curso.nombre">
                                    <label for="asignatura" class="form-label">Asignatura</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" name="pensum" id="pensum" placeholder="Pensum"
                                                class="form-control" [(ngModel)]="curso.pensum">
                                            <label for="pensum" class="form-label">Pensum</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" name="nivel" id="nivel" placeholder="Nivel"
                                                class="form-control" [(ngModel)]="curso.nivel">
                                            <label for="nivel" class="form-label">Nivel</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <div class="form-floating">
                                    <select name="idFacultad" id="idFacultad" class="form-select"
                                        [(ngModel)]="curso.idFacultad"
                                        (change)="listarProgramasPorFacultad($event.target)">
                                        <option value="">-Seleccione una opción-</option>
                                        <option *ngFor="let item of facultades" value="{{item.idFacultad}}">
                                            {{item.nombre}}
                                        </option>
                                    </select>
                                    <label for="idFacultad" class="form-label">Facultad</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" name="creditos" id="creditos" placeholder="Créditos"
                                                class="form-control" [(ngModel)]="curso.creditos">
                                            <label for="creditos" class="form-label">Créditos</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" name="horas" id="horas" placeholder="Horas"
                                                class="form-control" [(ngModel)]="curso.horas">
                                            <label for="horas" class="form-label">Horas</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <div class="form-floating">
                                    <select name="idPrograma" id="idPrograma" class="form-select"
                                        [(ngModel)]="curso.idPrograma">
                                        <option value="">-Seleccione una opción-</option>
                                        <option *ngFor="let item of programas"
                                            value="{{item.idFacultad}},{{item.idPrograma}}">{{item.nombre}}</option>
                                    </select>
                                    <label for="idPrograma" class="form-label">Programa</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label for="recursos" class="form-label">Necesidades Audiovisuales</label>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <i class="fa-solid fa-computer fa-2xl me-2"></i><input type="checkbox"
                                            [name]="recursos[0].nombre" id="recursos" class="form-check-input"
                                            [(ngModel)]="recursos[0].checked">
                                    </div>
                                    <div class="col text-center">
                                        <i class="fa-solid fa-video fa-2xl me-2"></i><input type="checkbox"
                                            [name]="recursos[1].nombre" id="recursos" class="form-check-input"
                                            [(ngModel)]="recursos[1].checked">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col px-4">
                        <h3 class="my-2">Grupos</h3>
                        <div class="row my-4">
                            <div class="col">
                                <div class="form-floating">
                                    <select #grupoSelect name="grupo" id="grupo" class="form-select"
                                        (change)="changeGrupoSelected(grupoSelect.value)">
                                        <option value="-1">-Seleccione una opción-</option>
                                        <option *ngFor="let grupo of grupos" value="{{grupo.idGrupo}}">{{grupo.nombre}}
                                        </option>
                                    </select>
                                    <label for="grupo" class="form-label">Grupo</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" name="cupos" id="cupos" placeholder="Cupos"
                                        class="form-control" [(ngModel)]="cupos">
                                    <label for="cupos" class="form-label">Cupos</label>
                                </div>
                            </div>
                        </div>
                        <h4 class="my-2">Horarios</h4>
                        <div *ngFor="let nuevoHorario of grupoSelected.horario; let i = index">
                            <div class="row py-2">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="diaSemana{{i + 2}}" id="diaSemana{{i + 2}}" class="form-select"
                                            [(ngModel)]="diaEdicion[nuevoHorario.idHorario]"
                                            [disabled]="idEdicionHorario !== nuevoHorario.idHorario || !esEdicionHorario">
                                            <option value="-1">-Seleccione una opción-</option>
                                            <option *ngFor="let dia of diasSemana" value="{{dia.idDia}}">{{dia.nombre}}
                                            </option>
                                        </select>
                                        <label for="diaSemana{{i + 2}}" class="form-label">Día</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="number" name="horaIncio{{i + 2}}" id="horaIncio{{i + 2}}"
                                                    placeholder="Hora inicio" class="form-control"
                                                    [(ngModel)]="horaInicioEdicion[nuevoHorario.idHorario]"
                                                    [disabled]="idEdicionHorario !== nuevoHorario.idHorario || !esEdicionHorario">
                                                <label for="horaIncio{{i + 2}}" class="form-label">Hora inicio</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="number" name="horaFin{{i + 2}}" id="horaFin{{i + 2}}"
                                                    placeholder="Hora fin" class="form-control"
                                                    [(ngModel)]="horaFinEdicion[nuevoHorario.idHorario]"
                                                    [disabled]="idEdicionHorario !== nuevoHorario.idHorario || !esEdicionHorario">
                                                <label for="horaFin{{i + 2}}" class="form-label">Hora fin</label>
                                            </div>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <div class="btn-group">
                                                <button *ngIf="idEdicionHorario === nuevoHorario.idHorario && esEdicionHorario" class="btn btn-success"
                                                    (click)="editarHorario(nuevoHorario.idHorario)">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                                <button *ngIf="idEdicionHorario === nuevoHorario.idHorario && esEdicionHorario" class="btn btn-danger"
                                                    (click)="esEdicionHorario = false; idEdicionHorario = -1;">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                                <button *ngIf="!esEdicionHorario" class="btn btn-primary"
                                                    (click)="changeEsEdicionHorario(nuevoHorario)">
                                                    <i class="fa-solid fa-pen"></i>
                                                </button>
                                                <button *ngIf="!esEdicionHorario" class="btn btn-danger"
                                                    (click)="eliminarHorario(nuevoHorario.idHorario)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col">
                                <div class="form-floating">
                                    <select name="diaSemana" id="diaSemana" class="form-select"
                                        [(ngModel)]="diaSelected">
                                        <option value="-1">-Seleccione una opción-</option>
                                        <option *ngFor="let dia of diasSemana" value="{{dia.idDia}}">{{dia.nombre}}
                                        </option>
                                    </select>
                                    <label for="diaSemana" class="form-label">Día</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" name="horaIncio" id="horaIncio"
                                                placeholder="Hora inicio" class="form-control"
                                                [(ngModel)]="horaInicio">
                                            <label for="horaIncio" class="form-label">Hora inicio</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" name="horaFin" id="horaFin"
                                                placeholder="Hora fin" class="form-control" [(ngModel)]="horaFin">
                                            <label for="horaFin" class="form-label">Hora fin</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary"
                                            (click)="agregarHorario()">
                                            <i class="fa-solid fa-circle-plus"></i>
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center my-4">
                            <button *ngIf="esEdicionGrupo" class="btn btn-primary w-50" (click)="editarGrupo()">
                                <i class="fa-solid fa-pen"></i>
                                Guardar cambios
                            </button>
                            <button *ngIf="!esEdicionGrupo" class="btn btn-success w-50" (click)="agregarGrupo()">
                                <i class="fa-solid fa-circle-plus"></i>
                                Agregar grupo
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p-table #dtGrupos [value]="curso.grupos" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="idCurso" style="min-width:180px">Grupo <p-sortIcon
                                            field="nombre"></p-sortIcon></th>
                                    <th pSortableColumn="nombre" style="min-width:150px">Cupos <p-sortIcon
                                            field="cupos"></p-sortIcon>
                                    </th>
                                    <th style="min-width:150px">Horario </th>
                                    <th style="min-width:150px">Opciones </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-grupoLista>
                                <tr>
                                    <td>{{grupoLista.nombre}}</td>
                                    <td>{{grupoLista.cupos}}</td>
                                    <td>{{grupoLista.cupos}}</td>
                                    <td class="text-center" style="min-width:120px;max-width:120px;">
                                        <button class="btn btn-primary me-2" (click)="seleccionGrupo(grupoLista)"
                                            data-bs-toggle="modal">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button class="btn btn-danger" (click)="eliminarGrupo(grupoLista)"
                                            data-bs-toggle="modal" data-bs-target="#borrarGrupo">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="3">No hay grupos</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="esEdicion ? editarCurso() : agregarCurso()"
                    data-bs-dismiss="modal">Guardar</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="borrar" tabindex="-1" aria-labelledby="borrarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-color-u">
                <h1 class="modal-title fs-5" id="borrarModalLabel">Eliminar Curso</h1>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el curso {{textoEliminar}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarCurso()">Sí</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center h-100">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <div class="col px-5 justify-content-center pt-5" style="overflow-x:auto;">
        <div class="mb-4">
            <h2 class="mb-5"><strong>Cursos</strong></h2>
        </div>
        <p-table #dtCursos [value]="cursos" [columns]="cols" styleClass="p-datatable-striped"
            [exportHeader]="'customExportHeader'" [scrollable]="true" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
            [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['idCurso']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button type="button" (click)="dtCursos.exportCSV()" class="btn btn-secondary mx-2"><i
                            class="fa-solid fa-file-csv"></i></button>
                    <button type="button" (click)="exportExcel()" class="btn btn-success mx-2"><i
                            class="fa-solid fa-file-excel"></i></button>
                    <button type="button" (click)="exportPdf()" class="btn btn-danger mx-2"><i
                            class="fa-solid fa-file-pdf"></i></button>
                    <button type="button" (click)="dtCursos.exportCSV({ selectionOnly: true })"
                        class="btn btn-primary float-end" pTooltip="Selection Only"><i
                            class="fa-solid fa-filter"></i></button>
                    <span class="float-end mx-3">
                        <input type="text" (input)="dtCursos.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Ingrese el ID del Curso" class="form-control" />
                    </span>
                    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#agregarEditar"
                        (click)="esEdicion = false; limpiarCampos();">
                        <i class="fa-solid fa-circle-plus"></i>
                        Agregar
                    </button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idCurso" style="min-width:180px">Cod. Asignatura <p-sortIcon
                            field="idCurso"></p-sortIcon></th>
                    <th pSortableColumn="nombre" style="min-width:150px">Asignatura <p-sortIcon
                            field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="grupo" style="min-width:150px">Grupos <p-sortIcon field="grupo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nivel" style="min-width:150px">Nivel <p-sortIcon field="nivel"></p-sortIcon>
                    </th>
                    <th pSortableColumn="horas" style="min-width:150px">Horas <p-sortIcon field="horas"></p-sortIcon>
                    </th>
                    <th pSortableColumn="creditos" style="min-width:150px">Créditos <p-sortIcon
                            field="creditos"></p-sortIcon></th>
                    <th pSortableColumn="programa" style="min-width:150px">Programa <p-sortIcon
                            field="programa"></p-sortIcon></th>
                    <th pSortableColumn="pensum" style="min-width:150px">Pensum <p-sortIcon field="pensum"></p-sortIcon>
                    </th>
                    <th pSortableColumn="idFacultad" style="min-width:150px">Facultad <p-sortIcon
                            field="idFacultad"></p-sortIcon></th>
                    <th pSortableColumn="idDocente" style="min-width:150px">Docente <p-sortIcon
                            field="idDocente"></p-sortIcon></th>
                    <th style="min-width:150px">Necesidades AV </th>
                    <th style="min-width:150px">Horario </th>
                    <th style="min-width:150px">Opciones </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cursoLista>
                <tr>
                    <td>{{cursoLista.idCurso}}</td>
                    <td>{{cursoLista.nombre}}</td>
                    <td>{{cursoLista.grupos.length}}</td>
                    <td>{{cursoLista.nivel}}</td>
                    <td>{{cursoLista.horas}}</td>
                    <td>{{cursoLista.creditos}}</td>
                    <td>{{cursoLista.idPrograma}}</td>
                    <td>{{cursoLista.pensum}}</td>
                    <td>{{cursoLista.idFacultad}}</td>
                    <td>{{cursoLista.idDocente}}</td>
                    <td class="text-center">
                        <i *ngIf="estaEnLista('COMPUTADORA', cursoLista.recursos)"
                            class="fa-solid fa-computer fa-xl me-2"></i>
                        <i *ngIf="estaEnLista('VIDEOBEAM', cursoLista.recursos)"
                            class="fa-solid fa-video fa-xl ms-2"></i>
                    </td>
                    <td class="text-center"><i class="fa-solid fa-eye fa-xl"></i></td>
                    <td class="text-center" style="min-width:120px;max-width:120px;">
                        <div class="btn-group">
                            <button class="btn btn-primary" (click)="editar(cursoLista)" data-bs-toggle="modal"
                                data-bs-target="#agregarEditar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-danger" (click)="cambiarTxtEliminar(cursoLista)" data-bs-toggle="modal"
                                data-bs-target="#borrar">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14">No hay cursos</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>