<div class="p-5 justify-content-center h-100">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <div class="bg-success bg-opacity-10 border border-success border-bottom-0 rounded-top d-flex align-items-center justify-content-center mb-4 py-4">
        <h2 class="fw-bold">Asignación de Aulas</h2>
    </div>
    <div class="d-flex align-items-center my-4 pt-4">
        <h2 class="fw-bold">Cursos</h2>
    </div>
    <p-table #dtCursos
            [value]="cursos"
            [columns]="cols"
            dataKey="idCurso"
            styleClass="p-datatable-striped"
            [exportHeader]="'customExportHeader'"
            [scrollable]="true" [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
            [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['idCurso']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <input type="text" (input)="dtCursos.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Ingrese el ID del curso" class="w-25 form-control" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"></th>
                    <th pSortableColumn="idCurso" style="min-width:180px">Cod. Asignatura <p-sortIcon
                            field="idCurso"></p-sortIcon></th>
                    <th pSortableColumn="nombre" style="min-width:150px">Asignatura <p-sortIcon
                            field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="grupo" style="min-width:150px">Grupos <p-sortIcon field="grupo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nivel" style="min-width:150px">Nivel <p-sortIcon field="nivel"></p-sortIcon>
                    </th>
                    <th pSortableColumn="horas" style="min-width:150px">Horas <p-sortIcon field="horas"></p-sortIcon>
                    </th>
                    <th pSortableColumn="creditos" style="min-width:150px">Créditos <p-sortIcon
                            field="creditos"></p-sortIcon></th>
                    <th pSortableColumn="programa" style="min-width:150px">Programa <p-sortIcon
                            field="programa"></p-sortIcon></th>
                    <th pSortableColumn="pensum" style="min-width:150px">Pensum <p-sortIcon field="pensum"></p-sortIcon>
                    </th>
                    <th pSortableColumn="idFacultad" style="min-width:150px">Facultad <p-sortIcon
                            field="idFacultad"></p-sortIcon></th>
                    <th pSortableColumn="idDocente" style="min-width:150px">Docente <p-sortIcon
                            field="idDocente"></p-sortIcon></th>
                    <th style="min-width:150px">Necesidades AV </th>
                    <th style="min-width:150px">Horario </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cursoLista let-expanded="expanded">
                <tr>
                    <td>
                        <button *ngIf="expanded" type="button" pButton pRipple [pRowToggler]="cursoLista" class="btn"><i class="fa-solid fa-angle-down"></i></button>
                        <button *ngIf="!expanded" type="button" pButton pRipple [pRowToggler]="cursoLista" class="btn"><i class="fa-solid fa-angle-right"></i></button>
                    </td>
                    <td>{{cursoLista.idCurso}}</td>
                    <td>{{cursoLista.nombre}}</td>
                    <td>{{cursoLista.grupos.length}}</td>
                    <td>{{cursoLista.nivel}}</td>
                    <td>{{cursoLista.horas}}</td>
                    <td>{{cursoLista.creditos}}</td>
                    <td>{{cursoLista.idPrograma}}</td>
                    <td>{{cursoLista.pensum}}</td>
                    <td>{{cursoLista.idFacultad}}</td>
                    <td>{{cursoLista.idDocente}}</td>
                    <td class="text-center">
                        <i *ngIf="estaEnLista('COMPUTADORA', cursoLista.recursos)"
                            class="fa-solid fa-computer fa-xl me-2"></i>
                        <i *ngIf="estaEnLista('VIDEOBEAM', cursoLista.recursos)"
                            class="fa-solid fa-video fa-xl ms-2"></i>
                    </td>
                    <td class="text-center"><i class="fa-solid fa-eye fa-xl"></i></td>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14">No hay cursos</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-cursoLista>
                <tr>
                    <td colspan="5">
                            <p-table #dtGrupos [value]="cursoLista.grupos" selectionMode="single" dataKey="idGrupo">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 4rem"></th>
                                        <th pSortableColumn="nombre">Grupo <p-sortIcon field="nombre"></p-sortIcon></th>
                                        <th pSortableColumn="cupos">Cupos <p-sortIcon field="cupos"></p-sortIcon></th>
                                        <th>Horario </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-grupo>
                                    <tr>
                                        <td>
                                            <p-tableRadioButton [value]="grupo"></p-tableRadioButton>
                                        </td>
                                        <td>{{ grupo.nombre }}</td>
                                        <td>{{ grupo.cupos }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="5">El curso no tiene grupos.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <hr>
    <div class="d-flex align-items-center my-4 pt-4">
        <h2 class="fw-bold">Aulas</h2>
    </div>
    <p-table 
        #dtAulas 
        [value]="aulas" 
        [columns]="cols" 
        [exportHeader]="'customExportHeader'" 
        [paginator]="true" 
        [rows]="10"
        [(selection)]="aulaSelected"
        dataKey="idAula"
        styleClass="p-datatable-striped"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
        [rowsPerPageOptions]="[10, 25, 50]" 
        [globalFilterFields]="['idAula']"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <input type="text" (input)="dtAulas.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese el ID del aula" class="w-25 form-control" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th pSortableColumn="idAula" style="min-width:150px">ID Aula <p-sortIcon field="idAula"></p-sortIcon>
                </th>
                <th pSortableColumn="nombre" style="min-width:150px">Nombre <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="idFacultad" style="min-width:150px">Facultad <p-sortIcon
                        field="idFacultad"></p-sortIcon></th>
                <th pSortableColumn="capacidad" style="min-width:150px">Capacidad <p-sortIcon
                        field="capacidad"></p-sortIcon></th>
                <th pSortableColumn="estado" style="min-width:150px">Estado <p-sortIcon field="estado"></p-sortIcon>
                </th>
                <th style="min-width:150px">Recursos AV </th>
                <th style="min-width:100px">Horario </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aulaLista>
            <tr>
                <td>
                    <p-tableRadioButton [value]="aulaLista"></p-tableRadioButton>
                </td>
                <td>{{aulaLista.idAula}}</td>
                <td>{{aulaLista.nombre}}</td>
                <td>{{aulaLista.idFacultad}}</td>
                <td>{{aulaLista.capacidad}}</td>
                <td><p-tag [value]="aulaLista.estado" [severity]="getSeverity(aulaLista.estado)"></p-tag></td>
                <td class="text-center">
                    <i *ngIf="estaEnLista('COMPUTADORA', aulaLista.recursos)"
                        class="fa-solid fa-computer fa-xl me-2"></i>
                    <i *ngIf="estaEnLista('VIDEOBEAM', aulaLista.recursos)" class="fa-solid fa-video fa-xl ms-2"></i>
                </td>
                <td class="text-center"><i class="fa-solid fa-eye fa-xl"></i></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay aulas</td>
            </tr>
        </ng-template>
    </p-table>
</div>