<!-- Modals -->
<div class="modal fade" id="agregarEditar" tabindex="-1" role="dialog" aria-labelledby="agreagarEditarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-color-u">
                <h3 *ngIf="!esEdicion" class="modal-title">Agregar aula</h3>
                <h3 *ngIf="esEdicion" class="modal-title">Editar aula</h3>
            </div>
            <div class="modal-body">
                <form #f="ngForm" novalidate>
                    <div class="row g-2 justify-content-center">
                        <div class="col px-3">
                            <div class="mb-3 from-group">
                                <label for="idAula" class="form-label">ID Aula</label>
                                <input type="text" name="idAula" id="idAula" class="form-control"
                                    [(ngModel)]="aula.idAula" #idAula="ngModel" pattern="[A-Z][0-9]-[0-9][0-9][0-9]" required maxlength="10"
                                    [ngClass]="{'is-invalid': formEnviado && idAula.invalid, 'is-valid': formEnviado && idAula.valid}">
                                <div *ngIf="formEnviado && idAula.invalid" class="invalid-feedback">
                                    <div *ngIf="idAula.errors && idAula.errors['required']">El ID es obligatorio
                                    </div>
                                    <div *ngIf="idAula.errors && idAula.errors['pattern']">El formato del ID es incorrecto. Ej: D4-401
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre Aula</label>
                                <input type="text" name="nombre" id="nombre" class="form-control"
                                    [(ngModel)]="aula.nombre" #nombre="ngModel" required maxlength="10"
                                    [ngClass]="{'is-invalid': formEnviado && nombre.invalid, 'is-valid': formEnviado && nombre.valid}">
                                <div *ngIf="formEnviado && nombre.invalid" class="invalid-feedback">
                                    <div *ngIf="nombre.errors && nombre.errors['required']">El nombre es obligatorio
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="idFacultad" class="form-label">Facultad</label>
                                <select name="idFacultad" id="idFacultad" class="form-select"
                                    [(ngModel)]="aula.idFacultad" #idFacultad="ngModel" required
                                    [ngClass]="{'is-invalid': formEnviado && idFacultad.invalid, 'is-valid': formEnviado && idFacultad.valid}">
                                    <option value="">-Seleccione una opción-</option>
                                    <option *ngFor="let item of facultades" value="{{item.idFacultad}}">{{item.nombre}}
                                    </option>
                                </select>
                                <div *ngIf="formEnviado && idFacultad.invalid" class="invalid-feedback">
                                    <div *ngIf="idFacultad.errors && idFacultad.errors['required']">Debe escoger una facultad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="mb-3">
                                <label for="estado" class="form-label">Estado</label>
                                <select name="estado" id="estado" class="form-select" [(ngModel)]="aula.estado" #estado="ngModel" required
                                [ngClass]="{'is-invalid': formEnviado && estado.invalid, 'is-valid': formEnviado && estado.valid}">
                                    <option value="" selected>-Seleccione una opción-</option>
                                    <option value="MANTENIMIENTO">En mantenimiento</option>
                                    <option value="FUNCIONANDO">Funcionando</option>
                                </select>
                                <div *ngIf="formEnviado && estado.invalid" class="invalid-feedback">
                                    <div *ngIf="estado.errors && estado.errors['required']">Debe escoger un estado
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="capacidad" class="form-label">Capacidad</label>
                                <input type="number" name="capacidad" id="capacidad" class="form-control"
                                    [(ngModel)]="aula.capacidad" #capacidad="ngModel" required min="1" max="50">
                                <div *ngIf="formEnviado && capacidad.invalid" class="invalid-feedback">
                                    <div *ngIf="capacidad.errors && capacidad.errors['required']">Debe ingresar un valor
                                    </div>
                                    <div *ngIf="capacidad.errors && capacidad.errors['min']">El valor debe ser mayor a 0
                                    </div>
                                    <div *ngIf="capacidad.errors && capacidad.errors['max']">El valor debe ser menor a 50
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-3">
                                <div class="row">
                                    <label for="recursos" class="form-label">Recursos Audiovisuales</label>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <i class="fa-solid fa-computer fa-2xl me-2"></i><input type="checkbox"
                                            [name]="recursos[0].nombre" id="recursos" class="form-check-input"
                                            [(ngModel)]="recursos[0].checked">
                                    </div>
                                    <div class="col text-center">
                                        <i class="fa-solid fa-video fa-2xl me-2"></i><input type="checkbox"
                                            [name]="recursos[1].nombre" id="recursos" class="form-check-input"
                                            [(ngModel)]="recursos[1].checked">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success"
                    (click)="formEnviado = true; !f.invalid ? esEdicion ? editarAula() : agregarAula() : null">Guardar</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="formEnviado = false">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="borrar" tabindex="-1" aria-labelledby="borrarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-color-u">
                <h1 class="modal-title fs-5" id="borrarModalLabel">Eliminar Aula</h1>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea borrar el aula {{textoEliminar}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarAula()">Sí</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="p-5 justify-content-center h-100">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <div class="mb-4">
        <h2 class="mb-5"><strong>Aulas</strong></h2>
    </div>
    <p-table 
        #dt 
        [value]="aulas" 
        [columns]="cols" 
        [exportHeader]="'customExportHeader'" 
        [paginator]="true" 
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} resultados"
        [rowsPerPageOptions]="[10, 25, 50]" 
        [globalFilterFields]="['idAula']"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button type="button" (click)="dt.exportCSV()" class="btn btn-secondary mx-2"><i
                        class="fa-solid fa-file-csv"></i></button>
                <button type="button" (click)="exportExcel()" class="btn btn-success mx-2"><i
                        class="fa-solid fa-file-excel"></i></button>
                <button type="button" (click)="exportPdf()" class="btn btn-danger mx-2"><i
                        class="fa-solid fa-file-pdf"></i></button>
                <button type="button" (click)="dt.exportCSV({ selectionOnly: true })" class="btn btn-primary float-end"
                    pTooltip="Selection Only" tooltipPosition="bottom"><i class="fa-solid fa-filter"></i></button>
                <span class="float-end mx-3">
                    <input type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese el ID del aula" class="form-control" />
                </span>
                <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#agregarEditar"
                    (click)="esEdicion = false; limpiarCampos();">
                    <i class="fa-solid fa-circle-plus"></i>
                    Agregar
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idAula" style="min-width:150px">ID Aula <p-sortIcon field="idAula"></p-sortIcon>
                </th>
                <th pSortableColumn="nombre" style="min-width:150px">Nombre <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="idFacultad" style="min-width:150px">Facultad <p-sortIcon
                        field="idFacultad"></p-sortIcon></th>
                <th pSortableColumn="capacidad" style="min-width:150px">Capacidad <p-sortIcon
                        field="capacidad"></p-sortIcon></th>
                <th pSortableColumn="estado" style="min-width:150px">Estado <p-sortIcon field="estado"></p-sortIcon>
                </th>
                <th pSortableColumn="recursos" style="min-width:150px">Recursos Audiovisuales <p-sortIcon
                        field="recursos"></p-sortIcon></th>
                <th style="min-width:100px">Horario </th>
                <th style="min-width:150px">Opciones </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aulaLista>
            <tr>
                <td>{{aulaLista.idAula}}</td>
                <td>{{aulaLista.nombre}}</td>
                <td>{{aulaLista.idFacultad}}</td>
                <td>{{aulaLista.capacidad}}</td>
                <td><p-tag [value]="aulaLista.estado" [severity]="getSeverity(aulaLista.estado)"></p-tag></td>
                <td class="text-center">
                    <i *ngIf="estaEnLista('COMPUTADORA', aulaLista.recursos)"
                        class="fa-solid fa-computer fa-xl me-2"></i>
                    <i *ngIf="estaEnLista('VIDEOBEAM', aulaLista.recursos)" class="fa-solid fa-video fa-xl ms-2"></i>
                </td>
                <td class="text-center"><i class="fa-solid fa-eye fa-xl"></i></td>
                <td class="text-center" style="min-width:120px;max-width:120px;">
                    <button class="btn btn-primary me-2" (click)="editar(aulaLista)" data-bs-toggle="modal"
                        data-bs-target="#agregarEditar">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-danger" (click)="cambiarTxtEliminar(aulaLista)" data-bs-toggle="modal"
                        data-bs-target="#borrar">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay aulas</td>
            </tr>
        </ng-template>
    </p-table>
</div>