<div class="p-5 justify-content-center h-100">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
  <div class="mb-3">
    <h2 class="mb-2"><strong>Horario de aulas</strong></h2>
  </div>
  <div class="mb-5">
    <form>
      <div class="row">
        <div class="col mx-3">
          <label for="idFacultad" class="form-label">Facultad</label>
          <select name="idFacultad" id="idFacultad" class="form-select" [(ngModel)]="idFacultad"
            (change)="listarAulasPorFacultad($event.target);">
            <option value="">-Seleccione una opción-</option>
            <option *ngFor="let item of facultades" value="{{item.idFacultad}}">{{item.nombre}}
            </option>
          </select>
        </div>
        <div class="col mx-3">
          <label for="idAula" class="form-label">Aula</label>
          <select name="idAula" id="idAula" class="form-select" [(ngModel)]="idAula"
            (change)="listarHorarioPorAula($event.target)">
            <option value="">-Seleccione una opción-</option>
            <option *ngFor="let item of aulas" value="{{item.idFacultad}},{{item.idAula}}">
              {{item.nombre}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="btn btn-primary" mwlCalendarToday [(viewDate)]="viewDate">
          Hoy
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es-CO' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Mes
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Semana
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Día
        </div>
      </div>
    </div>
  </div>
  <br />
  <ng-template #loading>
    <div class="text-center">
      <i class="fa-solid fa-calendar-days fa-fade fa-10x my-5"></i>
      <br>
      <span class="fs-2">Cargando eventos...</span>
    </div>
  </ng-template>

  <div [ngSwitch]="view">
      <mwl-calendar-month-view 
        *ngSwitchCase="'month'" 
        [viewDate]="viewDate" 
        [events]="calendarEvents"
        [refresh]="refresh"
        [locale]="locale"
        [activeDayIsOpen]="activeDayIsOpen" 
        (dayClicked)="dayClicked($event.day)"
        (beforeViewRender)="updateCalendarEvents($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view 
        *ngSwitchCase="'week'" 
        [viewDate]="viewDate" 
        [events]="calendarEvents"
        [refresh]="refresh"
        [locale]="locale"
        [dayStartHour]="6"
        [dayEndHour]="22"
        (beforeViewRender)="updateCalendarEvents($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view 
        *ngSwitchCase="'day'" 
        [viewDate]="viewDate" 
        [events]="calendarEvents"
        [refresh]="refresh"
        [locale]="locale"
        [dayStartHour]="6"
        [dayEndHour]="22"
        (beforeViewRender)="updateCalendarEvents($event)"
      >
      </mwl-calendar-day-view>
    </div>

  <ng-template #eventInfo let-close="close">
    <div class="modal-header bg-color-u">
      <h3 class="modal-title">Evento</h3>
    </div>
    <div class="modal-body">
      Asunto:

    </div>
  </ng-template>
  </div>